.phcard {
    padding: 12px 0;
    border-bottom: 1px solid #e5e7eb;
}

.phcard-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.phcard-title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 4px;
}

.phcard-line {
    font-size: 12px;
    color: #4b5563;
}

.phcard-status {
    min-width: 100px;
    text-align: right;
}

.status-pill {
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 999px;
    color: white;
}

.status-pill--open {
    background: seagreen;
}

.status-pill--soon {
    background: #f59e0b;
}

.status-pill--closed {
    background: darkred;
}

.phcard-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phcard-links {
    display: flex;
    gap: 14px;
    font-size: 13px;
    margin-top: 4px;
    color: black;
}

.phcard-link {
    color: cornflowerblue;
    text-decoration: none;
    //border : 1px solid #1e4fe1;
    //border-radius: 999px;
}